{% extends 'base.html' %}
{% load static %}
{% block content %}
<span>
<center>
<h1>Become a land pirate with Treasure Roam!</h1><br> 
{% comment %} 
        <ul id="nav">
            <li>{% block nav-home %}<a href="{% url 'home' %}">Home</a>{% endblock %}</li>
            <li>{% block nav-about %}<a href="{% url 'about' %}">About</a>{% endblock %}</li>
            <li>{% block nav-contact %}<a href="{% url 'contact' %}">Contact</a>{% endblock %}</li>
        </ul> {% endcomment %}

<br><img src="{% static 'images/pirateflag (2).jpg' %}" alt="pirate flag" width="500" height="300"><br>
<br><q><i>Help each other find the booty.</i></q></br>

<br><h2>About:</h2><br>
<p>Treasure Roam is a geocache website that makes geocaching more personal and intimate. You can leave notes about your geocache, save your geocache information in your personal profile and so much more.</p>


<p>Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.

Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors. Bring a spring upon her cable holystone blow the man down spanker Shiver me timbers to go on account lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm spyglass sheet transom heave to.

Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters. Fluke jib scourge of the seven seas boatswain schooner gaff booty Jack Tar transom spirits. </p>
</span>
</center>

{% endblock content %}